
@*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />*@

<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            <button type="button" id="button-setting" title="" data-loading-text="Loading..." class="btn btn-info"><i class="fa fa-cog"></i></button>
        </div>
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li><a href="https://demo.opencart.com/admin/index.php?route=common/dashboard&amp;user_token=LVgF0H7qANDzO5X1PM17n0C2ivYThsUg">Home</a></li>
            <li><a href="https://demo.opencart.com/admin/index.php?route=common/dashboard&amp;user_token=LVgF0H7qANDzO5X1PM17n0C2ivYThsUg">Dashboard</a></li>
        </ul>
    </div>
</div>
