
@{
    ViewBag.Title = "ABOUTHOPE";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}

<h3>BIBLE VERSE ON HOPE</h3>
<p>
    <ul>
        <li>
            <b class="text-primary">
                1. Psalm 16:9
            </b>
            <br />
            “Therefore my heart is glad, and my glory rejoices; my flesh also will rest in hope.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. Psalm 119:114
            </b>
            <br />
            “You are my hiding place and my shield; I hope in Your word.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                3. Psalm 130:7
            </b>
            <br />
            “O Israel, hope in the LORD; for with the LORD there is mercy, and with Him is abundant redemption.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                4. Psalm 147:11
            </b>
            <br />
            “The LORD takes pleasure in those who fear Him, in those who hope in His mercy.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                5. Proverbs 23:18
            </b>
            <br />
            “For surely there is a hereafter, and your hope will not be cut off.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Isaiah 9:7
            </b>
            <br />
            “Of the increase of His government and peace there will be no end, upon the throne of David and over His kingdom, to order it and establish it with judgment and justice from that time forward, even forever more. The zeal of the Lord of hosts will perform this.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                7. Isaiah 11:9
            </b>
            <br />
            “They shall not hurt or destroy in all My holy mountain, for the earth shall be full of the knowledge of the LORD as the  waters cover the sea.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                8. Jeremiah 17:7
            </b>
            <br />
            “Blessed is the man who trusts in the LORD, and whose hope is the LORD.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Jeremiah 29:11
            </b>
            <br />
            “For I know the thoughts that I think toward you, says the LORD, thoughts of peace and not of evil, to give you a future and a hope.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                10. Lamentations 3:24
            </b>
            <br />
            “‘The LORD is my portion,’ says my soul, ‘therefore I hope in Him!’”
        </li>
        <br />
        <li>
            <b class="text-primary">
                11. Daniel 2:44
            </b>
            <br />
            “And in the days of these kings the God of heaven will set up a kingdom which shall never be destroyed; and the kingdom shall not be left to other people; it shall break in pieces and consume all these kingdoms, and it shall stand forever.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                12. Daniel 12:3
            </b>
            <br />
            “Those who are wise shall shine like the brightness of the firmament, and those who turn many to righteousness like the stars forever and ever.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                13. Micah 4:4
            </b>
            <br />
            “But everyone shall sit under his vine and under his fig tree, and no one shall make them afraid; for the mouth of the LORD of hosts has spoken.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                14. Zephaniah 3:17
            </b>
            <br />
            “The LORD your God in your midst, the Mighty One, will save; He will rejoice over you with gladness, He will quiet you with His love, He will rejoice over you with singing.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                15. Malachi 3:16
            </b>
            <br />
            “Then those who feared the LORD spoke to one another, and the LORD listened and heard them; so a book of remembrance was written before Him for those who fear the LORD and who meditate on His name.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                16. Matthew 25:21
            </b>
            <br />
            “His lord said to him, ‘Well done, good and faithful servant; you were faithful over a few things, I will make you ruler over many things. Enter into the joy of your lord.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                17. Romans 5:5
            </b>
            <br />
            “Now hope does not disappoint, because the love of God has been poured out in our hearts by the Holy Spirit [which] was given to us.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                18. Romans 12:12
            </b>
            <br />
            “Rejoicing in hope, patient in tribulation, continuing steadfastly in prayer.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                19. Romans 15:4
            </b>
            <br />
            “For whatever things were written before were written for our learning, that we through the patience and comfort of the Scriptures might have hope.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                20. Romans 15:13
            </b>
            <br />
            “Now may the God of hope fill you with all joy and peace in believing, that you may abound in hope by the power of the Holy Spirit.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                21. 1 Corinthians 2:9
            </b>
            <br />
            “Eye has not seen, nor ear heard, nor have entered into the heart of man the things which God has prepared for those who love Him.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                22. Ephesians 1:18
            </b>
            <br />
            “The eyes of your understanding being enlightened; that you may know what is the hope of His calling, what are the riches of the glory of His inheritance in the saints.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                23. Colossians 1:27
            </b>
            <br />

            “To them God willed to make known what are the riches of the glory of this mystery among the Gentiles: which is Christ in you, the hope of glory.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                24. 1 Thessalonians 5:8

            </b>
            <br />
            “But let us who are of the day be sober, putting on the breastplate of faith and love, and as a helmet the hope of salvation.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                25. Titus 1:2
            </b>
            <br />
            “In hope of eternal life which God, who cannot lie, promised before time began.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                26. Titus 2:13
            </b>
            <br />
            “Looking for the blessed hope and glorious appearing of our great God and Savior Jesus Christ.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                27. 2 Peter 1:10-11
            </b>
            <br />
            “Therefore, brethren, be even more diligent to make your call and election sure, for if you do these things you will never stumble; for so an entrance will be supplied to you abundantly into the everlasting kingdom of our Lord and Savior Jesus Christ.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                28. 1 John 3:2
            </b>
            <br />
            “Beloved, now we are children of God; and it has not yet been revealed what we shall be, but we know that when He is revealed, we shall be like Him, for we shall see Him as He is.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                29. 1 John 3:3
            </b>
            <br />
            “And everyone who has this hope in Him purifies himself, just as He is pure.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                30. Revelation 21:4
            </b>
            <br />
            “And God will wipe away every tear from their eyes; there shall be no more death, nor sorrow, nor crying. There shall be no more pain, for the former things have passed away.”

        </li>
    </ul>
</p>