
@{
    ViewBag.Title = "ABOUTFEAR";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}

<h3>BIBLE VERSE ON FEAR</h3>
<p>
    <ul>
        <li>
            <b class="text-primary">
                1. Luke 12:22-26
            </b>
            <br />
            “Do not worry about your life, what you will eat; or about your body, what you will wear.  Life is more than food, and the body more than clothes.  Consider the ravens: They do not sow or reap, they have no storeroom or barn, yet God feeds them. And how much more valuable you are than birds!  Who of you by worrying can add a single hour to his life?  Since you cannot do this very little thing, why do you worry about the rest?”
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. Psalm 27:1
            </b>
            <br />
            “The Lord is my light and my salvation—whom shall I fear?  The Lord is the stronghold of my life—of whom shall I be afraid?”
        </li>
        <br />
        <li>
            <b class="text-primary">
                3. Psalm 55:22
            </b>
            <br />
            “Cast your cares on the Lord and he will sustain you; he will never let the righteous fall.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                4. Deuteronomy 31:6
            </b>
            <br />
            “Be strong and courageous.  Do not be afraid or terrified because of them, for the Lord your God goes with you; he will never leave you nor forsake you.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                5. Isaiah 41:13-14
            </b>
            <br />
            “’For I am the Lord, your God, who takes hold of your right hand and says to you, Do not fear; I will help you.  Do not be afraid, for I myself will help you,’ declares the Lord, your Redeemer, the Holy One of Israel.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Psalm 46:1
            </b>
            <br />
            “God is our refuge and strength, an ever-present help in trouble.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                7. Psalm 118:6-7
            </b>
            <br />
            “The Lord is with me; I will not be afraid.  What can man do to me?  The Lord is with me; he is my helper.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                8. Proverbs 29:25
            </b>
            <br />
            “Fear of man will prove to be a snare, but whoever trusts in the Lord is kept safe.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Mark 4:39-
            </b>
            <br />
            “He got up, rebuked the wind and said to the waves, “Quiet! Be still!” Then the wind died down and it was completely calm.  He said to his disciples, “Why are you so afraid? Do you still have no faith?”
        </li>
        <br />
        <li>
            <b class="text-primary">
                10. Psalm 34:7
            </b>
            <br />
            “The angel of the Lord encamps around those who fear him, and he delivers them.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                11. 1 Peter 3:14
            </b>
            <br />
            “But even if you suffer for doing what is right, God will reward you for it. So don’t worry or be afraid of their threats.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                12. Psalm 34:4
            </b>
            <br />
            “I prayed to the Lord, and he answered me.  He freed me from all my fears.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                13. Isaiah 41:10
            </b>
            <br />
            “So do not fear, for I am with you; do not be dismayed, for I am your God.  I will strengthen you and help you; I will uphold you with my righteous right hand.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                14. Psalm 56:3
            </b>
            <br />
            “When I am afraid, I put my trust in you.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                15. Philippians 4:6-7
            </b>
            <br />
            “Do not be anxious about anything, but in every situation, by prayer and petition, with thanksgiving, present your requests to God.  And the peace of God, which transcends all understanding, will guard your hearts and your minds in Christ Jesus.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                16. John 14:27
            </b>
            <br />
            “Peace is what I leave with you; it is my own peace that I give you. I do not give it as the world does. Do not be worried and upset; do not be afraid.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                17. 2 Timothy 1:7
            </b>
            <br />
            “For God has not given us a spirit of fear, but of power and of love and of a sound mind.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                18. 1 John 4:18
            </b>
            <br />
            “There is no fear in love. But perfect love drives out fear, because fear has to do with punishment. The one who fears is not made perfect in love.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                19. Psalm 94:19
            </b>
            <br />
            “When anxiety was great within me, your consolation brought joy to my soul.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                20. Isaiah 43:1
            </b>
            <br />
            “But now, this is what the Lord says…Fear not, for I have redeemed you; I have summoned you by name; you are mine.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                21. Proverbs 12:25
            </b>
            <br />
            “An anxious heart weighs a man down, but a kind word cheers him up.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                22. Psalm 23:4
            </b>
            <br />
            “Even though I walk through the valley of the shadow of death, I will fear no evil, for you are with me; your rod and your staff, they comfort me.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                23. Joshua 1:9
            </b>
            <br />
            “Have I not commanded you? Be strong and courageous. Do not be terrified; do not be discouraged, for the Lord your God will be with you wherever you go.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                24. Matthew 6:
            </b>
            <br />
            “Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                25. Peter 5:6-7
            </b>
            <br />
            “Humble yourselves, then, under God’s mighty hand, so that he will lift you up in his own good time.  Leave all your worries with him, because he cares for you.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                26. Isaiah 35:4-14.
            </b>
            <br />
            “Tell everyone who is discouraged, Be strong and don’t be afraid! God is coming to your rescue…”
        </li>
        <br />
        <li>
            <b class="text-primary">
                27. Deuteronomy 3:22
            </b>
            <br />
            “Do not be afraid of them; the Lord your God himself will fight for you.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                28. Revelation 1:17
            </b>
            <br />
            “Then he placed his right hand on me and said: ‘Do not be afraid. I am the First and the Last.’”
        </li>
        <br />
        <li>
            <b class="text-primary">
                29. Mark 5:36
            </b>
            <br />
            “Jesus told him, ‘Don’t be afraid; just believe.’
        </li>
        <br />
        <li>
            <b class="text-primary">
                30. Romans 8:38-39
            </b>
            <br />
            “And I am convinced that nothing can ever separate us from God’s love. Neither death nor life, neither angels nor demons, neither our fears for today nor our worries about tomorrow—not even the powers of hell can separate us from God’s love.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                31. Zephaniah 3:17
            </b>
            <br />
            The Lord your God is in your midst, A victorious warrior. He will exult over you with joy, He will be quiet in His love, He will rejoice over you with shouts of joy.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                32. Psalm 91:1-16
            </b>
            <br />
            “He who dwells in the shelter of the Most High will rest in the shadow of the Almighty.  I will say of the Lord, “He is my refuge and my fortress, my God, in whom I trust.”…He will cover you with his feathers, and under his wings you will find refuge; his faithfulness will be your shield and rampart.  You will not fear the terror of night, nor the arrow that flies by day, nor the pestilence that stalks in the darkness, nor the plague that destroys at midday.  A thousand may fall at your side, ten thousand at your right hand, but it will not come near you…For he will command his angels concerning you, to guard you in all your ways…“Because he loves me,” says the Lord, “I will rescue him; I will protect him, for he acknowledges my name.  He will call upon me, and I will answer him; I will be with him in trouble, I will deliver him and honor him…”
        </li>
    </ul>
</p>