
@{
    ViewBag.Title = "ABOUTJOY";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}

<h3>VERSE On JOY/HAPPINESSES</h3>

<p>
    <ul>
        <li>
            <b class="text-primary">
                1. Psalm 30:5
            </b>
            <br />
            For his anger is but for a moment, and his favor is for a lifetime. Weeping may tarry for the night, but joy comes with the morning.
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. Romans 5:1-5
            </b>
            <br />
            Therefore, since we have been justified by faith, we have peace with God through our Lord Jesus Christ. Through him we have also obtained access by faith into this grace in which we stand, and we rejoice in hope of the glory of God. Not only that, but we rejoice in our sufferings, knowing that suffering produces endurance, and endurance produces character, and character produces hope, and hope does not put us to shame, because God’s love has been poured into our hearts through the Holy Spirit who has been given to us.
        </li>
        <br />
        <li>
            <b class="text-primary">
                3. John 16:22
            </b>
            <br />
            So also you have sorrow now, but I will see you again, and your hearts will rejoice, and no one will take your joy from you.
        </li>
        <br />
        <li>
            <b class="text-primary">
                4. Psalm 4:7
            </b>
            <br />
            You have put more joy in my heart than they have when their grain and wine abound.
        </li>
        <br />
        <li>
            <b class="text-primary">
                5. John 15:11
            </b>
            <br />
            These things I have spoken to you, that my joy may be in you, and that your joy may be full.
        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Philippians 2:1-2
            </b>
            <br />
            So if there is any encouragement in Christ, any comfort from love, any participation in the Spirit, any affection and sympathy, complete my joy by being of the same mind, having the same love, being in full accord and of one mind.
        </li>
        <br />
        <li>
            <b class="text-primary">
                7. 1 Peter 1:8-9
            </b>
            <br />
            Though you have not seen him, you love him. Though you do not now see him, you believe in him and rejoice with joy that is inexpressible and filled with glory, obtaining the outcome of your faith, the salvation of your souls.
        </li>
        <br />
        <li>
            <b class="text-primary">
                8. 1 Chronicles 16:27
            </b>
            <br />
            Splendor and majesty are before him; strength and joy are in his place.
        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Psalm 5:11
            </b>
            <br />
            But let all who take refuge in you rejoice; let them ever sing for joy, and spread your protection over them, that those who love your name may exult in you.
        </li>
        <br />
        <li>
            <b class="text-primary">
                10. Psalm 16:11
            </b>
            <br />
            You make known to me the path of life; in your presence there is fullness of joy; at your right hand are pleasures forevermore.
        </li>
        <br />
        <li>
            <b class="text-primary">
                11. Roman 14:17
            </b>
            <br />
            For the kingdom of God is not a matter of eating and drinking but of righteousness and peace and joy in the Holy Spirit.
        </li>
        <br />
        <li>
            <b class="text-primary">
                12. Esther 8:6
            </b>
            <br />
            The Jews had light and gladness and joy and honor.
        </li>
        <br />
        <li>
            <b class="text-primary">
                13. 1 Kings 8:66
            </b>
            <br />
            On the eighth day he sent the people away, and they blessed the king and went to their homes joyful and glad of heart for all the goodness that the Lord had shown to David his servant and to Israel his people.
        </li>
        <br />
        <li>
            <b class="text-primary">
                14. Galatians 5:22-23
            </b>
            <br />
            But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faithfulness, gentleness, self-control; against such things there is no law.
        </li>
        <br />
        <li>
            <b class="text-primary">
                15. Luke 10:17
            </b>
            <br />
            The seventy-two returned with joy, saying, “Lord, even the demons are subject to us in your name!”
        </li>
        <br />
        <li>
            <b class="text-primary">
                16. Luke 15:6-7
            </b>
            <br />
            And when he comes home, he calls together his friends and his neighbors, saying to them, ‘Rejoice with me, for I have found my sheep that was lost.’ Just so, I tell you, there will be more joy in heaven over one sinner who repents than over ninety-nine righteous persons who need no repentance.
        </li>
        <br />
        <li>
            <b class="text-primary">
                17. Acts 15:3
            </b>
            <br />
            So, being sent on their way by the church, they passed through both Phoenicia and Samaria, describing in detail the conversion of the Gentiles, and brought great joy to all the brothers.
        </li>
        <br />
        <li>
            <b class="text-primary">
                18. Psalm 32:11
            </b>
            <br />
            Be glad in the Lord, and rejoice, O righteous, and shout for joy, all you upright in heart!
        </li>
        <br />
        <li>
            <b class="text-primary">
                19. Philippians 4:4
            </b>
            <br />
            Rejoice in the Lord always; again I will say, rejoice.
        </li>
        <br />
        <li>
            <b class="text-primary">
                20. Romans 12:12
            </b>
            <br />
            Rejoice in hope, be patient in tribulation, be constant in prayer.
        </li>
        <br />
        <li>
            <b class="text-primary">
                21. Romans 12:15
            </b>
            <br />
            Rejoice with those who rejoice, weep with those who weep.
        </li>
    </ul>
</p>
