
@{
    ViewBag.Title = "BibleVerse";

    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}


<h3><b>BIBLE VERSE ON MARRAIGE</b></h3>
<p>
    <ul>
        <li>
            <b class="text-primary">1. Genesis 1:27-28:<br /></b>
            “So God created man in his own image, in the image of God he created him; male and female he created them. And God blessed them. And God said to them, 'Be fruitful and multiply and fill the earth and subdue it and have dominion over the fish of the sea and over the birds of the heavens and over every living thing that moves on the earth.' "
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. Malachi 2:14-15:
            </b>
            <br />
            “But you say, 'Why does he not?' Because the LORD was witness between you and the wife of your youth, to whom you have been faithless, though she is your companion and your wife by covenant."
        </li>
        <br />
        <li>
            <b class="text-primary">
                3. Isaiah 54:5:
            </b>
            <br />
            “For your Maker is your husband, the LORD of hosts is his name; and the Holy One of Israel is your Redeemer, the God of the whole earth he is called."
        </li>
        <br />
        <li>
            <b class="text-primary">
                4. Song of Solomon 8:6-7:
            </b>
            <br />
            “Set me as a seal upon your heart, as a seal upon your arm, for love is strong as death, jealousy is fierce as the grave. Its flashes are flashes of fire, the very flame of the LORD. Many waters cannot quench love, neither can floods drown it. If a man offered for love all the wealth of his house, he would be utterly despised."
        </li>
        <br />
        <li>
            <b class="text-primary">
                5. Ephesians 4:2-3:
            </b>
            <br />
            “With all humility and gentleness, with patience, bearing with one another in love, eager to maintain the unity of the Spirit in the bond of peace."
        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Colossians 3:14:
            </b>
            <br />
            “And over all these virtues put on love, which binds them all together in perfect unity."
        </li>
        <br />
        <li>
            <b class="text-primary">
                7. Ecclesiastes 4:9:
            </b>
            <br />
            “Two are better than one, because they have a good return for their labor: If either of them falls down, one can help the other up. But pity anyone who falls and has no one to help them up. Also, if two lie down together, they will keep warm. But how can one keep warm alone?"
        </li>
        <br />
        <li>
            <b class="text-primary">
                8. Ephesians 5:25:
            </b>
            <br />
            “For husbands, this means love your wives, just as Christ loved the church. He gave up his life for her."
        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Genesis 2:24:
            </b>
            <br />
            “Therefore a man shall leave his father and his mother and hold fast to his wife, and they shall become one flesh."
        </li>
        <br />
        <li>
            <b class="text-primary">
                10. Ecclesiastes 4:12:
            </b>
            <br />
            “Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken."
        </li>
        <br />
        <li>
            <b class="text-primary">
                11. Mark 10:9:
            </b>
            <br />
            “Therefore what God has joined together, let no one separate."
        </li>
        <br />
        <li>
            <b class="text-primary">
                12. Ephesians 5:25-33:
            </b>
            <br />
            “Husbands, love your wives, as Christ loved the church and gave himself up for her, that he might sanctify her, having cleansed her by the washing of water with the word, so that he might present the church to himself in splendor, without spot or wrinkle or any such thing, that she might be holy and without blemish. In the same way husbands should love their wives as their own bodies. He who loves his wife loves himself. For no one ever hated his own flesh, but nourishes and cherishes it, just as Christ does the church, ..."
        </li>
    </ul>
</p>



