
@{
    ViewBag.Title = "HARDWORK";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}

<h3>
    SUCCESS & HARD WORK
</h3>

<p>
    <ul>
        <li>
            <b class="text-primary">
                1. Philippians 4:13<br />
            </b>
            I can do all things through Him who strengthens me.
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. Psalm 37:34<br />
            </b>
            “Delight yourself in the Lord, and he will give you the desires of your heart.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                3. Proverbs 16:3<br />
            </b>
            Commit your works to the Lord, And your plans will be established.
        </li>
        <br />
        <li>
            <b class="text-primary">
                4. Matthew 6:33<br />
            </b>
            But strive first for the kingdom of God and his righteousness, and all these things will be given to you as well.
        </li>
        <br />
        <li>
            <b class="text-primary">
                5. Genesis 39:2-3<br />
            </b>
            The Lord was with Joseph, so he became a successful man. And he was in the house of his master, the Egyptian. Now his master saw that the Lord was with him and how the Lord caused all that he did to prosper in his hand.
        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Genesis 39:23<br />
            </b>
            The chief jailer did not supervise anything under Joseph’s charge because the LORD was with him; and whatever he did, the LORD made to prosper.
        </li>
        <br />
        <li>
            <b class="text-primary">
                7. Proverbs 3:5-6
                <br />
            </b>
                Trust in the Lord with all your heart. And do not lean on your own understanding.In all your ways acknowledge Him, And He will make your paths straight.
        </li>
        <br />
        <li>
            <b class="text-primary">
                8. Mark 8:36<br />
            </b>
            For what shall it profit a man, if he shall gain the whole world, and lose his own soul?
        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Matthew 25:20-21<br />
            </b> And he who had received the five talents came forward, bringing five talents more, saying, ‘Master, you delivered to me five talents; here I have made five talents more.’ His master said to him, ‘Well done, good and faithful servant.You have been faithful over a little; I will set you over much. Enter into the joy of your master.’
        </li>
        <br />
        <li>
            <b class="text-primary">
                10. Proverbs 6:10-12<br />
            </b>
            “A little sleep, a little slumber, A little folding of the hands to rest” Your poverty will come in like a vagabond, And your need like an armed man.
        </li>
        <br />
        <li>
            <b class="text-primary">
                11. Proverbs 126:5-6<br />
            </b>
            Those who sow with tears will reap with songs of joy.Those who go out weeping, carrying seed to sow, will return with songs of joy, carrying sheaves with them.
        </li>
        <br />
        <li>
            <b class="text-primary">
                12 . Psalm 1:1-3<br />
            </b>
            How blessed is the man who does not walk in the counsel of the wicked, Nor stand in the path of sinners, Nor sit in the seat of scoffers!But his delight is in the law of the LORD,And in His law he meditates day and night.He will be like a tree firmly planted by streams of water,
            Which yields its fruit in its season
            And its leaf does not wither;
            And in whatever he does, he prospers.
        </li>
        <br />
        <li>
            <b class="text-primary">
                13. Matthew 6:19-21<br />
            </b>
            “Do not store up for yourselves treasures on earth, where moth and rust destroy, and where thieves break in and steal. But store up for yourselves treasures in heaven, where neither moth nor rust destroys, and where thieves do not break in or steal; for where your treasure is, there your heart will be also.
        </li>
        <br />
        <li>
            <b class="text-primary">
                14. Joshua 1:8<br />
            </b>
            “This Book of the Law shall not depart from your mouth, but you shall meditate on it day and night, so that you may be careful to do according to all that is written in it. For then you will make your way prosperous, and then you will have good success.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                15. Proverbs 3:1-4<br />
            </b>
            “My son, do not forget my teaching, but let your heart keep my commandments, for length of days and years of life and peace they will add to you. Let not steadfast love and faithfulness forsake you; bind them around your neck; write them on the tablet of your heart. So you will find favor and good success in the sight of God and man.”
        </li>
        <br />
        <li>
            <b class="text-primary">
                16. Luke 16:10-11<br />
            </b> “Whoever can be trusted with very little can also be trusted with much, and whoever is dishonest with very little will also be dishonest with much. 11 So if you have not been trustworthy in handling worldly wealth, who will trust you with true riches?
        </li>
        <br />
        <li>
            <b class="text-primary">
                17. Ecclesiastes 11:6<br />
            </b>
            Sow your seed in the morning and do not be idle in the evening, for you do not know whether morning or evening sowing will succeed, or whether both of them alike will be good.
        </li>
        <br />
        <li>
            <b class="text-primary">
                18.Proverbs 13:4<br />
            </b>
            Lazy people want much but get little, but those who work hard will prosper.
        </li>
        <br />
        <li>
            <b class="text-primary">
                19.Matthew 7:7-8<br />
            </b>
            “Ask, and it will be given to you; seek, and you will find; knock, and it will be opened to you. For everyone who asks receives, and the one who seeks finds, and to the one who knocks it will be opened.
        </li>
    </ul>
</p>