
@{
    ViewBag.Title = "Love";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}


<h3><b>BIBLE VERSE ON LOVE</b></h3>
<p>
    <ul>
        <li>
            <b class="text-primary">
                1. Romans 13:8:
            </b>
            <br />
            “Owe no one anything, except to love each other, for the one who loves another has fulfilled the law."
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. 1 Corinthians 13:4-5:
            </b><br />
            “Love is patient, love is kind. It does not envy, it does not boast, it is not proud. It does not dishonor others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs."

        </li>
        <br />
        <li>
            <b class="text-primary">
                3. 1 Corinthians 13:2:
            </b><br /> “If I have the gift of prophecy and can fathom all mysteries and all knowledge, and if I have a faith that can move mountains, but do not have love, I am nothing."

        </li>
        <br />
        <li>
            <b class="text-primary">
                4. 1 Corinthians 16:14:
            </b><br /> “Do everything in love."

        </li>
        <br />
        <li>
            <b class="text-primary">
                5. Song of Solomon 8:7:
            </b><br /> “Many waters cannot quench love; rivers cannot wash it away. If one were to give all the wealth of his house for love, it would be utterly scorned."

        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Psalm 143:8:
            </b><br /> “Let the morning bring me word of your unfailing love, for I have put my trust in you. Show me the way I should go, for to you I entrust my life."

        </li>
        <br />
        <li>
            <b class="text-primary">
                7. Proverbs 3:3-4:
            </b><br /> “Let love and faithfulness never leave you; bind them around your neck, write them on the tablet of your heart. Then you will win favor and a good name in the sight of God and man."

        </li>
        <br />
        <li>
            <b class="text-primary">
                8. 1 John 4:16:
            </b><br /> “And so we know and rely on the love God has for us. God is love. Whoever lives in love lives in God, and God in them."

        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Ephesians 4:2:
            </b><br /> “Be completely humble and gentle; be patient, bearing with one another in love."

        </li>
        <br />
        <li>
            <b class="text-primary">
                10. 1 Peter 4:8:
            </b><br /> “Above all, love each other deeply, because love covers over a multitude of sins."

        </li>
        <br />
        <li>
            <b class="text-primary">
                11. John 15:12:
            </b><br /> “My command is this: Love each other as I have loved you."

        </li>
        <br />
        <li>
            <b class="text-primary">
                12. 1 Corinthians 13:13:
            </b><br /> “And now these three remain: faith, hope and love. But the greatest of these is love."

        </li>
        <br />
        <li>
            <b class="text-primary">
                13. Song of Solomon 4:9:
            </b><br />
            “You have captivated my heart, my sister, my bride; you have captivated my heart with one glance of your eyes, with one jewel of your necklace."

        </li>
    </ul>
</p>