
@{
    ViewBag.Title = "PRAYER";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";

<h3>
    VERSE ON PRAYER
</h3>

<p>
    <ul>
        <li>
            <b class="text-primary">(1 John 5:14-15) </b>
            <br />
            1. "This is the confidence we have in approaching God:
            that if we ask anything according to his will, he hears us. And if we know that he hears us - whatever we ask - we know that we have what we asked of him" .
        </li>
        <br />
        <li>
            <b class="text-primary">(Philippians 4:6-7)</b>
            <br />
            2. "Do not be anxious about anything, but in everything, by prayer and petition, with thanksgiving, present your requests to God. And the peace of God, which transcends all understanding, will guard your hearts and your minds in Christ Jesus" (Philippians 4:6-7).
        </li>
        <br />
        <li>
            <b class="text-primary">(James 5:16)</b>
            <br />
            3. "…The prayer of a righteous man is powerful and effective" .
        </li>
        <br />
        <li>
            <b class="text-primary">(Ephesians 6:18)</b>
            <br />
            4. "And pray in the Spirit on all occasions with all kinds of prayers and requests. With this in mind, be alert and always keep on praying for all the saints" .
        </li>
        <br />
        <li>
            <b class="text-primary">(Romans 8:26) </b>
            <br />
            5. "In the same way, the Spirit helps us in our weakness. We do not know what we ought to pray for, but the Spirit himself intercedes for us with groans that words cannot express" .
        </li>
        <br />
        <li>
            <b class="text-primary">(1 John 1:9)</b>
            <br />
            6. "If we confess our sins, he is faithful and just and will forgive us our sins and purify us from all unrighteousness" .
        </li>
        <br />
        <li>
            <b class="text-primary"> (1 Thessalonians 5:16-18) </b>
            <br />
            7. "Be joyful always; pray continually; give thanks in all circumstances, for this is God's will for you in Christ Jesus".
        </li>
        <br />
        <li>
            <b class="text-primary">(James 4:3) </b>
            <br />
            8. "When you ask, you do not receive, because you ask with wrong motives, that you may spend what you get on your pleasures" .
        </li>
        <br />
        <li>
            <b class="text-primary">(Matthew 6:5-8)  </b>
            <br />
            9. The Teachings of Jesus "And when you pray, do not be like the hypocrites, for they love to pray standing in the synagogues and on the street corners to be seen by men. I tell you the truth, they have received their reward in full. But when you pray, go into your room, close the door and pray to your Father, who is unseen. Then your Father, who sees what is done in secret, will reward you. And when you pray, do not keep on babbling like pagans, for they think they will be heard because of their many words. Do not be like them, for your Father knows what you need before you ask him" .
        </li>
        <br />
        <li>
            <b class="text-primary"> (Luke 18:9-14)</b>
            <br />
            10. "To some who were confident of their own righteousness and looked down on everybody else, Jesus told this parable: 'Two men went up to the temple to pray, one a Pharisee and the other a tax collector. The Pharisee stood up and prayed about himself: "God, I thank you that I am not like other men-robbers, evildoers, adulterers-or even like this tax collector. I fast twice a week and give a tenth of all I get." But the tax collector stood at a distance. He would not even look up to heaven, but beat his breast and said, "God, have mercy on me, a sinner. I tell you that this man, rather than the other, went home justified before God. For everyone who exalts himself will be humbled, and he who humbles himself will be exalted"'" .
        </li>
        <br />
        <li>
            <b class="text-primary">(Mark 11:22-25)</b>
            <br />
            11. "'Have faith in God,' Jesus answered. 'I tell you the truth, if anyone says to this mountain, "Go, throw yourself into the sea," and does not doubt in his heart but believes that what he says will happen, it will be done for him. Therefore I tell you, whatever you ask for in prayer, believe that you have received it, and it will be yours. And when you stand praying, if you hold anything against anyone, forgive him, so that your Father in heaven may forgive you your sins'" .
        </li>
        <br />
        <li>
            <b class="text-primary">(John 14:13-14)</b>
            <br />
            12. "And I will do whatever you ask in my name, so that the Son may bring glory to the Father. You may ask me for anything in my name, and I will do it" .
        </li>
    </ul>
</p>