
@{
    ViewBag.Title = "Relationship";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}

<h3>
    <b>BIBLE VERSE ABOUT RELATIONSHIP</b>
</h3>
<p>
    <ul>
        <li>
            <b class="text-primary">
                1. Hebrews 10:24-25:
            </b>
            <br /> “And let us consider how we may spur one another on toward love and good deeds, not giving up meeting together, as some are in the habit of doing, but encouraging one another—and all the more as you see the Day approaching."
        </li>
        <br />
        <li>
            <b class="text-primary">
                2. Proverbs 30:18-19:
            </b>
            <br /> “There are three things that amaze me—no, four things that I don't understand: how an eagle glides through the sky, how a snake slithers on a rock, how a ship navigates the ocean, how a man loves a woman."
        </li>
        <br />
        <li>
            <b class="text-primary">
                3. 1 John 4:12:
            </b>
            <br /> “No one has ever seen God; but if we love one another, God lives in us and his love is made complete in us."
        </li>
        <br />
        <li>
            <b class="text-primary">
                4. Proverbs 31:10:
            </b>
            <br /> "Who can find a virtuous woman? for her price is far above rubies."
        </li>
        <br />
        <li>
            <b class="text-primary">
                5. Ruth 1:16-17:
            </b>
            <br /> “Entreat me not to leave you, Or to turn back from following after you; For wherever you go, I will go; And wherever you lodge, I will lodge; Your people shall be my people, And your God, my God. Where you die, I will die, And there will I be buried. The Lord do so to me, and more also, If anything but death parts you and me."
        </li>
        <br />
        <li>
            <b class="text-primary">
                6. Romans 12:10:
            </b>
            <br /> “Be devoted to one another in love. Honor one another above yourselves."
        </li>
        <br />
        <li>
            <b class="text-primary">
                7. 1 Peter 4:8:
            </b>
            <br /> “Most important of all, continue to show deep love for each other, for love covers a multitude of sins."
        </li>
        <br />
        <li>
            <b class="text-primary">
                8. Ephesians 5:21:
            </b>
            <br /> “Submit to one another out of reverence for Christ."
        </li>
        <br />
        <li>
            <b class="text-primary">
                9. Ephesians 4:32:
            </b>
            <br /> “Be kind to each other, tenderhearted, forgiving one another, just as God through Christ has forgiven you."
        </li>
        <br />
        <li>
            <b class="text-primary">
                10. Genesis 2:18–25:
            </b>
            <br /> “Then the LORD God said, 'It is not good that the man should be alone; I will make him a helper fit for him.' ... So the LORD God caused a deep sleep to fall upon the man, and while he slept took one of his ribs and closed up its place with flesh. And the rib that the LORD God had taken from the man he made into a woman and brought her to the man."
        </li>
        <br />
        <li>
            <b class="text-primary">
                11. 1 Peter 3:7:
            </b>
            <br /> “In the same way, you husbands must give honor to your wives. Treat your wife with understanding as you live together. She may be weaker than you are, but she is your equal partner in God's gift of new life. Treat her as you should so your prayers will not be hindered."
        </li>

