
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_BibleLayout.cshtml";
}


<div style="margin-top:50px" class="container">
    <div>
        <h3>Our Beliefs</h3>
    </div>
    <div style="padding-top:20px;">
        <p>
            <ul>
                <li>
                    <b class="text-primary"> Doctrine of God</b><br />

                    We believe in one God who is creator, eternal, omnipotent, omnipresence, omniscient and He has three distinct persons: God the Father, God the Son and God the Holy Spirit, each of whom is fully God, yet there is one God.
                </li>
                <br />
                <li>
                    <b class="text-primary">
                        Doctrine of Revelation
                    </b>
                    <br />

                    God has revealed himself through his son i.e  Jesus Christ , the Scriptures and creation.
                </li>
                <br />
                <li>
                    <b class="text-primary">
                        Doctrine of Creation and Providence
                    </b>
                    <br />

                    We believe that God has created all things from nothing and God is sovereign , he controlls everything at all times in all places.
                </li>
                <br />
                <li>
                    <b class="text-primary">
                        Doctrine of Humanity
                    </b>
                    <br />

                    We believe that all humanity has been created by God in the image of God . He has made us as man and woman.
                </li>
                <br />
                <li>
                    <b class="text-primary">
                        Doctrine of Sin
                    </b>
                    <br />
                    We believe that all have sinned and fall short of glory of God. We commit sin by our action, word and thought. We all are under the Judgement of God. So, we need salvation and forgiveness.
                </li>
                <br />
                <li>
                    <b class="text-primary">
                        Doctrine of Salvation
                    </b>
                    <br />
                    We believe that salvation is by grace alone through faith alone in Lord Jesus Christ. We are forgiven by God when we  repent from sin, confess Jesus as Lord and Savior and When we believe that Jesus died for our sins, buried and rise again from the dead in third day.

                </li>
                <br />
                <li>
                    <b class="text-primary">
                        Doctrine of the Church
                    </b>
                    <br />
                    We believe that the Church is the body of Christ. We as a man and woman in this world are integral part of the church to proclaim the good news of Jesus and to bring people near Jesus for the  glory of God.
                </li>
            </ul>
        </p>
        <br />
        <p>
            <h3>
                Our Mission
            </h3>
            <br />
            To share goodness of Jesus through social media platform like instagram .

            To preach gospel and lead people to christ.
        </p>
    </div>
</div>

